<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="DATN.Properties.Settings.DATNConnectionString" connectionString="Data Source=DESKTOP-IQEGP44\SQLEXPRESS;Initial Catalog=DATN;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="WeightVectorEntities" connectionString="metadata=res://*/Model.WeightVector.csdl|res://*/Model.WeightVector.ssdl|res://*/Model.WeightVector.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IQEGP44\SQLEXPRESS;initial catalog=DATN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataPointEntites" connectionString="metadata=res://*/Model.DataPoint.csdl|res://*/Model.DataPoint.ssdl|res://*/Model.DataPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IQEGP44\SQLEXPRESS;initial catalog=DATN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DATNEntities" connectionString="metadata=res://*/Model.DataPoint.csdl|res://*/Model.DataPoint.ssdl|res://*/Model.DataPoint.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-IQEGP44\SQLEXPRESS;initial catalog=DATN;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>